@{
    ViewData["Title"] = "Xem Lớp";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var index = 1;
    string tenGVCN = @ViewBag.GVCN;
}
@model List<WebApplication2.POCO.LopHS>
<title>Kết Quả Học Tập</title>

@using (Html.BeginForm("XemLop", "Home", FormMethod.Get))
{
    <div class="page-container">
        <div class="section__content section__content--p30">
            <div class="container-fluid">
                <div class="main-content pt-3">
                    <p class=" h3 tieu-de">
                        DANH SÁCH CÁC LỚP TỪNG HỌC
                    </p>
                    <table class="table table-hover">
                        <thead class="thead-light">
                            <tr>
                                <th>STT</th>
                                <th>Khối Lớp</th>
                                <th>Giáo Viên Chủ Nhiệm</th>
                                <th>Năm Học</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                        <tbody class="background-table">
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@(index++)</td>
                                    <td>@item.Lop.Khoi.TenKhoi</td>
                                    <td>@Html.ActionLink(tenGVCN, "XemGVCN", "Home", new { maGV = item.Lop.GVCNId})</td>
                                    <td>@item.Lop.NienKhoa.TenNK</td>
                                    <td>@Html.ActionLink("Kết Quả Học Tập", "XemDiem", "Home", new { UserId = item.UserId, LopId = item.LopId })</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
}




