@model WebApplication2.Areas.BaoCaoThongKe
@{
    ViewData["Title"] = "ThongKe";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    var so = @Model.SLHSGioi + @Model.SLHSKha + @Model.SLHSTB + @Model.SLHSYeu;
}


<title>Báo Cáo Thống Kê</title>
@using (Html.BeginForm("index", "ThongKe"))
{
    <div class="page-container">
        <div class="section__content section__content--p30">
            <div class="container-fluid">
                <div class="main-content">

                    <div class="au-card-inner">
                        <div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">
                            <div class="chartjs-size-monitor-expand" style="position: absolute; left: 0; top: 0; right: 0; bottom: 0; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">
                                <div style="position: absolute; width: 1000000px; height: 1000000px; left: 0; top: 0">
                                </div>
                            </div>
                            <div class="chartjs-size-monitor-shrink" style="position: absolute; left: 0; top: 0; right: 0; bottom: 0; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">
                                <div style="position: absolute; width: 200%; height: 200%; left: 0; top: 0"></div>
                            </div>
                        </div>
                        <h3 class="title-2 m-b-40">Thống Kê Học Sinh Theo Học Lực</h3>
                        <div class="row">
                            <div class="col-3">
                                <div class="form-group">
                                    <label>Danh Sách Các Khối</label>
                                    @Html.DropDownList("khoi", (IEnumerable<SelectListItem>)ViewBag.AllKhoi, new { @class = "string form-control", @id = "khoi" })
                                </div>
                                <div class="form-group">
                                    <label>Niên Khóa</label>
                                    @Html.DropDownList("nienkhoa", (IEnumerable<SelectListItem>)ViewBag.AllNK, new { @class = "string form-control", @id = "nienkhoa" })
                                </div>
                                <div class="form-group">
                                    <label>Lớp</label>
                                    @Html.DropDownList("lop", (IEnumerable<SelectListItem>)ViewBag.AllLop, new { @class = "string form-control", @id = "lop" })
                                </div>
                                <div class="form-group">
                                    <label>&nbsp;</label>
                                    <button type="submit" class="btn-outline-danger form-control" id="submit">SEARCH</button>
                                </div>
                            </div>
                            <div class="col-9">
                                <canvas id="myChart"></canvas>
                            </div>
                        </div>
                        <div style="text-align: center">
                            <b>Tổng số:</b> @so học sinh
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

<script>
    new Chart(document.getElementById("myChart"),
        {
            "type": "doughnut", "data":
            {
                "labels": ["Giỏi", "Khá", "Trung Bình", "Yếu"],
                "datasets": [{
                    "label": "My First Dataset",
                    "data": [@Model.SLHSGioi, @Model.SLHSKha, @Model.SLHSTB, @Model.SLHSYeu],
                    "backgroundColor": ["rgb(255, 205, 86)", "rgb(54, 162, 235)", "rgb(255, 99, 132)", "rgb(101, 96, 99)"]
                }],
            }
            //"options": {
            //    "tooltips": {
            //        callbacks: {
            //            label: function(tooltipItem, data) {
            //                //get the concerned dataset
            //                var dataset = data.datasets[tooltipItem.datasetIndex];
            //                //calculate the total of this data set
            //                var total = dataset.data.reduce(function(previousValue, currentValue, currentIndex, array) {
            //                    return previousValue + currentValue;
            //                });
            //                //get the current items value
            //                var currentValue = dataset.data[tooltipItem.index];
            //                //calculate the precentage based on the total and current item, also this does a rough rounding to give a whole number
            //                var percentage = Math.floor(((currentValue/total) * 100)+0.5);

            //                return percentage + "%";
            //            }
            //        }
            //    }
            //}
        });

    $(document).ready(function () {

        $('#khoi').change(function() {
            var khoi = $('#khoi').val();
            var nienkhoa = $('#nienkhoa').val();

            $.ajax({url: "/admin/Thongke/getLopJson?makhoi="+ khoi + "&nienkhoa=" + nienkhoa, success: function(result) {
                var $el = $('#lop');
                $el.html(' ');
                $el.append($("<option></option>")
                    .attr("value", 0).text("All"));
                $.each(result, function (key, value) {
                    $el.append($("<option></option>")
                        .attr("value", value.id).text(value.tenLop));
                });
            }});
        });
    });

</script>