@model ReflectionIT.Mvc.Paging.PagingList<WebApplication2.Data.ApplicationUser>
@addTagHelper *, ReflectionIT.Mvc.Paging
@{
    ViewData["Title"] = "ShowAccount";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    int pageNumber = ViewBag.Page;
    int pageSize = ViewBag.PageSize;
    var index = (pageNumber - 1) * pageSize + 1;
}

<title>Quản lý Tài Khoản</title>
@using (Html.BeginForm("Index", "Account", FormMethod.Get))
{
    <div class="page-container">
        <div class="section__content section__content--p30">
            <div class="container-fluid">
                <div class="main-content">
                    <div class="form-group col-lg-4">
                        <label>Role</label>
                        @Html.DropDownList("role", (IEnumerable<SelectListItem>)ViewBag.AllRole, new { @class = "string form-control", @id = "role" })
                        <input type="hidden" name="role" class="form-control" placeholder="filter"
                               value="@Model.RouteValue["role"]" />

                    </div>
                    <div class="form-group col-lg-2">
                        <button type="submit" class="btn-outline-danger form-control" id="submit">SEARCH</button>
                    </div>
                    @if (ViewBag.Role == "Admin")
                    {
                        <div class="form-group" style="float: right;">
                            <!-- Trigger the modal with a button -->
                            <button type="button" class="au-btn au-btn-icon au-btn--blue" data-toggle="modal" data-target="#myModal">
                                <i class="zmdi zmdi-plus"></i>Thêm Tài Khoản
                            </button>
                        </div>
                    }
                    <div class="table-responsive table--no-card m-b-30">
                        <table class="table table-borderless table-striped table-earning">
                            <thead>
                                <tr>
                                    <th>STT</th>
                                    <th>Họ Tên</th>
                                    <th>Tên Đăng Nhập</th>
                                    <th>Email</th>
                                    <th>Role</th>
                                </tr>
                            </thead>
                            <tbody>
                            <tbody class="background-table">
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@(index++)</td>
                                        <td>@(item.Ho + " " + item.Ten)</td>
                                        <td>@item.UserName</td>
                                        <td>@item.Email</td>
                                        <td>@item.Role</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <nav aria-label="navigation">
                        <vc:pager paging-list="@Model" />
                    </nav>
                </div>
            </div>
        </div>
    </div>
}
@await Html.PartialAsync("~/Views/Shared/_AddAccPartial.cshtml")





